@import "font-awesome/css/font-awesome.css"

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

//
// App-wide Styles
//

.browsehappy
    background #ccc
    color #000
    margin 0.2em 0
    padding 0.2em 0

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px)
    .container
        max-width 730px

// Component styles are injected through grunt
// injector
@import 'account/login/login.styl';
@import 'admin/admin.styl';
@import 'badges/badges.styl';
@import 'classreport/classreport.styl';
@import 'classroom/classroom.styl';
@import 'course/course.styl';
@import 'dashboard/dashboard.styl';
@import 'exams/exams.styl';
@import 'help/help.styl';
@import 'main/main.styl';
@import 'manageclass/manageclass.styl';
@import 'notifications/notifications.styl';
@import 'profile/profile.styl';
@import 'search/search.styl';
@import 'settings/settings.styl';
@import 'studentactivity/studentactivity.styl';
@import 'studentprogress/studentprogress.styl';
@import 'takeexam/takeexam.styl';
// endinjector


html,body 
  margin 0
  padding 0
  height 100%
  background-color #f9f9f9

.arrow-dropdown
  padding-top 25px

.mdi-navigation-menu
  margin-left 15px

nav
  background url(../images/dlit-logo.png) center center no-repeat
  background-size 100px
  
footer 
  padding-left 1em
  width 100%
  height 100px
  background-color rgba(201,201,201,0.5)
  bottom 0
  margin-bottom -20px !important
  left 0
  position relative

.view-container
  min-height 100%
  position relative

.container 
  min-height 100%
  position relative
  

.side-nav
  padding-top 10px
  padding-left 5px
  padding-right 5px
  display block
  
  a
    padding 0 !important

#side-nav
  top 4.5rem !important
  left 10px !important
  width 330px !important
  background white
  border 1px solid lightgray
  position absolute
  display none
  height auto
  z-index 98
  
.top
  position absolute
  top 3.8rem
  left 16.5px
  width 0
  height 0
  z-index 100
  border-left 12px solid transparent
  border-right 12px solid transparent
  border-bottom 12px solid white
  display none

.bottom
  position absolute
  top 3.65rem
  left 15px
  width 0
  height 0
  z-index 99
  border-left 14px solid transparent
  border-right 14px solid transparent
  border-bottom 14px solid lightgray
  display none

.material-icons,.fa
    vertical-align middle

.material-icons,.fa
  padding-bottom -0.45em

.notification-icon:hover
  .fa
    color orange
    transform rotate(20deg)

.btn-floating.btn-large:hover
  i
    transform rotate(45deg)
  
.notification-icon:hover
  max-height 65 !important

ul.notifications 
  border-bottom 1px solid lightgray
  min-width 400px !important
  max-width 400px !important
  overflow auto

ul.notifications
  div 
    header 
      text-align center
      line-height 1.345 !important
      font-weight bold
      
.notify-item 
  min-height 50px
  max-height 75px
  min-width 250px !important
  max-width 550px !important
  font-size 0.785em !important
  overflow auto
  border-bottom 1px solid lightgray
  
.notify-item-list
  padding-top 14px
  padding-left 10px
  max-height 70px
  min-height 70px
  cursor pointer
  border-bottom 1px solid lightgray
.notify-item-list:hover
  a 
    color orange !important
    font-weight bolder !important
  background-color #f1f1f1

.notify-logo 
  width 10% !important
  margin-top -1em !important
  margin-right 10px
  img
    vertical-align sub
  span
    vertical-align super

div.notifications-header
  background-color #f1f1f1 !important
  color black !important
  

.mdi-navigation-menu:hover
  color orange

.grid-container
  padding-top 15px
  padding-left 5px
  padding-right 5px
  display block
  .grid-menu-item
    width 96px
    height 110px 
    display inline-block
    vertical-align top
    padding-top 52px
    text-align center
    white-space nowrap
    .dashboard
      background url(../images/icons/Class.png) center top no-repeat
      padding-top 3.25em  !important
    .profile
      background url(../images/icons/UserProfile.png) center top no-repeat
      padding-top 3.25em  !important
    .badges
      background url(../images/icons/Medal.png) center top no-repeat
      background-size 40px !important
      padding-top 3.25em  !important
    .subjects
      background url(../images/icons/Subjects.png) center top no-repeat
      padding-top 3.25em  !important
    .classreport
      background url(../images/icons/ComboChart.png) center top no-repeat
      padding-top 3.25em  !important
    .exams
      background url(../images/icons/Exam.png) center top no-repeat
      padding-top 3.25em  !important
    .manageclass
      background url(../images/icons/Classroom.png) center top no-repeat
      padding-top 3.25em  !important
    .studentactivity
      background url(../images/icons/MagicalScroll.png) center top no-repeat
      padding-top 3.25em  !important
    .studentprogress
      background url(../images/icons/Student.png) center top no-repeat
      padding-top 3.25em  !important  

.grid-menu-item
  span
    font-size smaller
  
.grid-menu-item
  width 96px
  height 110px 
  display inline-block
  vertical-align top
  padding-top 12px
  text-align center
  white-space nowrap
    
  .dashboard
    background url(../images/icons/Class.png) center top no-repeat
    padding-top 1.95em  !important
  .profile
    background url(../images/icons/UserProfile.png) center top no-repeat
    padding-top 1.95em  !important
  .badges
    background url(../images/icons/Medal.png) center top no-repeat
    padding-top 1.95em  !important
  .subjects
    background url(../images/icons/Subjects.png) center top no-repeat
    padding-top 1.95em  !important
  .classreport
    background url(../images/icons/ComboChart.png) center top no-repeat
    padding-top 1.95em  !important
  .exams
    background url(../images/icons/Exam.png) center top no-repeat
    padding-top 1.95em  !important
  .manageclass
    background url(../images/icons/Classroom.png) center top no-repeat
    padding-top 1.95em  !important
  .studentactivity
    background url(../images/icons/MagicalScroll.png) center top no-repeat
    padding-top 1.95em  !important
  .studentprogress
    background url(../images/icons/Student.png) center top no-repeat
    padding-top 1.95em  !important  

.grid-menu-item:hover
  border 1px solid lightgray !important
  border-radius 2px !important
  
.grid-menu-item.active
  font-weight bolder  !important
  
  
.input-field 
  input[type=text]:focus, input[type=password]:focus,textarea:focus,input[type=email]:focus,input[type=tel]:focus
    border-bottom 1px solid orange !important
    color #000 !important
    box-shadow 0 1px 0 0 orange !important
  input[type=text]:focus + label , input[type=password]:focus + label,textarea:focus + label,input[type=email]:focus + label,input[type=tel]:focus + label
    color orange !important
  input[type=text].valid, input[type=password].valid
    color green !important
  input[type=text].invalid, input[type=password].invalid
    color red !important
  i.prefix.active
    color black !important

a.collection-item:hover
  background-color #ffede5 !important

.btn-flat:hover
  background-color #ffb183

.btn-flat
  background-color white 
  border 1px solid darkorange

th
  cursor pointer

tr.selected
  background-color #ffddc3 
  font-weight bolder
.tableForStdDetail
  tr
    cursor pointer
  tr:hover
    background-color #ffddc3
.collapsible-header.active
  font-weight bolder
.dropdown-content li
  span
    color black !important

.card
  overflow auto !important
.std-activity
  overflow auto !important
  min-height 250px
  max-height 250px
  
.user-avatar 
  padding-top 10px

.evolution-line 
  background-color rgba(5,5,5,0.85)
  border 5px solid
  cursor pointer
  border-radius 20px
  position absolute
  top 16%
  left 16%
  z-index 9999
  padding 5px

h6
  font-weight bolder !important
  font-size 1.35em !important

.badge-image
  max-width 50%

.user-badges
  max-width 70%
.badge-box
  max-width 20%
  max-height 20%
  font-size 0.75em
  text-align center
  display inline-block

.show-badges
  max-width 30%
  float left
  
.have
  opacity 1
.not-have
  opacity 0.35
  
[type="radio"]:checked+label:after
  border 2px solid #000 !important
  background-color #000 !important

label.answer.correct:after
  background-color #33cc66 !important
  border 2px solid #33cc66 !important
label.answer.correct:before
  background-color #33cc66 !important
  border 2px solid #33cc66 !important
label.answer.incorrect:after
  background-color red !important
  border 2px solid red !important

form.answer-set
  display inline-block !important
  
.no
  font-size 20px !important
  display inline-block !important

.classrooom-sidenav
  border 0 !important
.collapsible-header
  font-size 1.2em !important
.collapsible-body
  border-bottom 0 !important
.collection-item.active
  background-color #fff !important
  font-weight bold

.show-summary-badges
  display inline-block
  white-space nowrap
  overflow auto
  max-width 100%
  background-color #fefefe
  box-shadow inset 0 0 10px gray
  
.subject-filter-btn-container
  .btn-flat
    height initial !important 
    border none
    span
      display inherit !important
  .btn-flat:hover
    background-color white
    border 1px solid lightgray
  
  .btn-flat.active
    font-weight bolder
    color orange
    background-color white
    box-shadow 2px 2px 10px gray
    border 1px solid orange

.summary-coins-container
  right 10px !important
  top 10px !important
  position absolute

.summary-cards-container
  position absolute
  right 10px
  top 40px
  cursor pointer
  padding-top 5px
  border-radius 10px
  img
    vertical-align sub
  span
    vertical-align super
    
.summary-cards-container:hover
  background-color rgba(255,255,255,0.5)

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label 
  height 19px !important
.pagination li.active
  background-color #FF7000 !important

select
  border 1px solid orange
  box-shadow 1px 1px 5px lightgray

.show-summary-cards
  display inline-block
  white-space nowrap
  overflow auto
  max-width 100%
  background-color #fefefe
  box-shadow inset 0 0 10px gray

.card-box
  max-width 20%
  max-height 20%
  font-size 0.75em
  text-align center
  display inline-block
.connect-text
  font-size 2em
  font-weight 200

.card-collection-container
  img
    cursor pointer
  
.picker__date-display,.picker__day--selected, .picker__day--selected:hover, .picker--focused
  background-color orange  !important
.picker__weekday-display
  background-color #f57c00 !important
.picker__year-display
  color #fff
.picker__day--selected
  background-color orange
.picker__day.picker__day--today,.picker__close, .picker__today
  color orange !important
  
.picker__day.picker__day--today.picker__day--selected
  color #fff !important

.hide-card
  display none

.show-body
  display block
  
.open-answer-sheet-btn,.open-classroom-sidenav-btn
  position fixed
  background-color white
  box-shadow 1px 1px 10px gray
  
.pagination
  cursor pointer

.open-answer-sheet-btn
  top 150px
  transform rotate(270deg) !important
  padding 10px
  right -35px
  cursor pointer

.open-classroom-sidenav-btn
  top 150px
  transform rotate(90deg) !important
  padding 10px
  left -35px
  cursor pointer
  
.all-badges-container
  overflow auto
  min-height 30%
  min-width 50%
  max-height 30%
  max-width 50%
  padding 10px
  background-color white
  border 1px solid black
  border-radius 5px
  position absolute
  right 10px
  bottom 10%
  z-index 1000
  box-shadow 2px 1px 3px gray
  cursor move
  img
    cursor pointer
  
.circle-slot
  width 100%
  background-color gray
  border-radius 50%
  
.selected-badge
  opacity 0.1

.answer-container,.answer-test-container
  overflow auto
  max-height 550px

.fa-lg
  font-size 1.45rem !important
  vertical-align 0 !important

.fa-sm
  font-size 0.85rem !important
  
.multiple
  margin-left 20px !important
  padding-left 0.55rem !important
  padding-top 0.15rem !important
  font-size 1.3rem !important

[type="radio"] + label:before, [type="radio"] + label:after
  width 21px !important
  height 21px !important


#special-input-panel
  display none
  position fixed
  margin-bottom -20px !important
  width 100%
  max-height 45%
  overflow auto
  z-index 9999
  bottom 0
  .btn-flat
    font-size 24px
    margin 10px
    width 82px